<footer class="footer">
  <div class="content has-text-centered">
    <h1 class="title">Convergence</h1>
    <h2 class="subtitle">A UCC Student Publication</h2>
    <p><a href="{{site.baseurl}}/">Home</a> | <a href="{{site.baseurl}}/archive/">Compact</a></p>
    <p>Contact @ <a href="mailto:convergence@ucc.on.ca">convergence@ucc.on.ca</a></p>
    <p><a class="title" href="https://github.com/malsf21/convergence"><span class="fab fa-github"></span></a></p>
    <p>Website by <a href="https://matthewwang.me">Matthew Wang</a>, maintained by Kevin Liu</p>
  </div>
</footer>
<script src="{{site.baseurl}}/js/font-awesome-all.min.js"></script>
