<footer>
  <div class="social-line social-line-white text-center">
		<div class="container">
			<h5>Convergence</h5>
      <h6>A UCC Student Publication</h6>
      Contact @ <a href="mailto:convergence@ucc.on.ca">convergence@ucc.on.ca</a>
		</div>
	</div>
</footer>
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/parallax.min.js" | prepend: site.baseurl }}"></script>
