---
layout: default
---
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title">{{ page.title }}</h1>
      <h2 class="subtitle">published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %Y" }}</time></h2>
      <p class="content">
        {{content}}
      </p>
      <hr />
      <a class="button is-info" href="{{site.baseurl}}/issues/{{page.file}}">
        <span class="icon"><span class="fa fa-file"></span></span>
        <span> Download PDF</span>
      </a>
    </div>
    <object data="{{site.baseurl}}/issues/{{page.file}}" type="application/pdf" width="100%" height="1000px">
      <iframe src="{{site.baseurl}}/issues/{{page.file}}" width="100%" height="100%" style="border: none;">
      This browser does not support PDFs. Please download the PDF to view it: <a href="{{site.baseurl}}/issues/{{page.file}}">Download PDF</a>
      </iframe>
    </object>
  </div>
</section>
